USE [master]
GO
/****** Object:  Database [QLBanMyPham]    Script Date: 8/28/2021 2:40:56 PM ******/
CREATE DATABASE [QLBanMyPham]
GO
--ALTER DATABASE [QLBanMyPham] SET ACCELERATED_DATABASE_RECOVERY = OFF  
GO
USE [QLBanMyPham]
GO
/****** Object:  Table [dbo].[CuaHang]    Script Date: 8/28/2021 2:40:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CuaHang](
	[MaCuaHang] [nvarchar](20) NOT NULL,
	[TenCuaHang] [nvarchar](100) NOT NULL,
	[DiaChi] [nvarchar](100) NOT NULL,
	[DienThoai] [nvarchar](11) NOT NULL,
	[SoTaiKhoan] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaCuaHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DanhMuc]    Script Date: 8/28/2021 2:40:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DanhMuc](
	[MaDM] [nvarchar](50) NOT NULL,
	[TenDM] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaDM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DongPhieuDat]    Script Date: 8/28/2021 2:40:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DongPhieuDat](
	[MaSP] [nvarchar](20) NOT NULL,
	[MaPhieuDat] [nvarchar](20) NOT NULL,
	[SoLuongDat] [int] NOT NULL,
	[GiaDat] [money] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaSP] ASC,
	[MaPhieuDat] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DongPhieuNhap]    Script Date: 8/28/2021 2:40:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DongPhieuNhap](
	[MaPhieuNhap] [nvarchar](20) NOT NULL,
	[MaSP] [nvarchar](20) NOT NULL,
	[SoLuong] [int] NULL,
	[GiaNhap] [money] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaPhieuNhap] ASC,
	[MaSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoaDon]    Script Date: 8/28/2021 2:40:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDon](
	[MaHD] [nvarchar](20) NOT NULL,
	[NgayLap] [datetime] NOT NULL,
	[MaNV] [nvarchar](20) NOT NULL,
	[MaKH] [nvarchar](20) NOT NULL,
	[TichDiemHT] [int] NULL,
	[TongTien] [money] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 8/28/2021 2:40:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[MaKH] [nvarchar](20) NOT NULL,
	[TenKH] [nvarchar](100) NULL,
	[SDT] [nvarchar](11) NULL,
	[TichDiem] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhuyenMai]    Script Date: 8/28/2021 2:40:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhuyenMai](
	[MaKM] [nvarchar](20) NOT NULL,
	[GiamGia] [int] NULL,
	[NgayBD] [datetime] NULL,
	[NgayKT] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaKM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhaCC]    Script Date: 8/28/2021 2:40:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhaCC](
	[MaNCC] [nvarchar](20) NOT NULL,
	[TenNCC] [nvarchar](100) NOT NULL,
	[DienThoai] [nvarchar](11) NOT NULL,
	[DiaChi] [nvarchar](100) NOT NULL,
	[Fax] [nvarchar](100) NOT NULL,
	[SoTaiKhoan] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNCC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 8/28/2021 2:40:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien](
	[MaNV] [nvarchar](20) NOT NULL,
	[TenNV] [nvarchar](100) NOT NULL,
	[Anh] [nvarchar](200) NULL,
	[GioiTinh] [bit] NULL,
	[SDT] [nvarchar](11) NULL,
	[MaCuaHang] [nvarchar](20) NOT NULL,
	[ChucVuNV] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhieuDatHang]    Script Date: 8/28/2021 2:40:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhieuDatHang](
	[MaPhieuDat] [nvarchar](20) NOT NULL,
	[NgayDat] [datetime] NOT NULL,
	[MaNCC] [nvarchar](20) NOT NULL,
	[MaCuaHang] [nvarchar](20) NOT NULL,
	[MaNV] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaPhieuDat] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhieuDoiTra]    Script Date: 8/28/2021 2:40:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhieuDoiTra](
	[MaPhieuDT] [nvarchar](20) NOT NULL,
	[LyDoDT] [nvarchar](200) NULL,
	[MaHD] [nvarchar](20) NOT NULL,
	[tongTien] [money] NULL,
	[NgayLap] [datetime] NULL,
	[MaNV] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaPhieuDT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhieuNhap]    Script Date: 8/28/2021 2:40:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhieuNhap](
	[MaPhieuNhap] [nvarchar](20) NOT NULL,
	[NgayNhap] [datetime] NOT NULL,
	[ThanhToan] [nvarchar](50) NULL,
	[MaPhieuDat] [nvarchar](20) NOT NULL,
	[MaNV] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaPhieuNhap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SanPham]    Script Date: 8/28/2021 2:40:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SanPham](
	[MaSP] [nvarchar](20) NOT NULL,
	[TenSP] [nvarchar](100) NOT NULL,
	[SLTon] [int] NOT NULL,
	[DonGia] [money] NOT NULL,
	[XuatXu] [nvarchar](100) NOT NULL,
	[ThuongHieu] [nvarchar](100) NOT NULL,
	[MaDM] [nvarchar](50) NOT NULL,
	[DonViTinh] [nvarchar](50) NOT NULL,
	[DinhMucHetHang] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SanPhamKM]    Script Date: 8/28/2021 2:40:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SanPhamKM](
	[MaKM] [nvarchar](20) NOT NULL,
	[MaSP] [nvarchar](20) NOT NULL,
	[GiaKM] [money] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaKM] ASC,
	[MaSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaiKhoan]    Script Date: 8/28/2021 2:40:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiKhoan](
	[TenTK] [nvarchar](30) NOT NULL,
	[MatKhau] [nvarchar](50) NOT NULL,
	[ChucVu] [bit] NOT NULL,
	[MaNV] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TenTK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ThongTinHD]    Script Date: 8/28/2021 2:40:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThongTinHD](
	[MaHD] [nvarchar](20) NOT NULL,
	[MaSP] [nvarchar](20) NOT NULL,
	[SoLuongMua] [int] NOT NULL,
	[DonGiaHT] [money] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC,
	[MaSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ThongTinSPDT]    Script Date: 8/28/2021 2:40:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThongTinSPDT](
	[MaSP] [nvarchar](20) NOT NULL,
	[MaPhieuDT] [nvarchar](20) NOT NULL,
	[SoLuongDT] [int] NULL,
	[PhanLoai] [bit] NULL,
	[DonGiaHT] [money] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaSP] ASC,
	[MaPhieuDT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[CuaHang] ([MaCuaHang], [TenCuaHang], [DiaChi], [DienThoai], [SoTaiKhoan]) VALUES (N'CH01', N'CocoShop 1', N'128, Xuân Thủy, Hà Nội', N'0983154455', N'1222354468752')
INSERT [dbo].[CuaHang] ([MaCuaHang], [TenCuaHang], [DiaChi], [DienThoai], [SoTaiKhoan]) VALUES (N'CH02', N'CocoShop 2', N'258 Bà Triệu, Hà Nội', N'0988888948', N'1244436554124')
GO
INSERT [dbo].[DanhMuc] ([MaDM], [TenDM]) VALUES (N'DM01', N'Trang điểm')
INSERT [dbo].[DanhMuc] ([MaDM], [TenDM]) VALUES (N'DM02', N'Son môi')
INSERT [dbo].[DanhMuc] ([MaDM], [TenDM]) VALUES (N'DM03', N'Chăm sóc da')
GO
INSERT [dbo].[DongPhieuDat] ([MaSP], [MaPhieuDat], [SoLuongDat], [GiaDat]) VALUES (N'SP01', N'PDH01', 200, 150000.0000)
INSERT [dbo].[DongPhieuDat] ([MaSP], [MaPhieuDat], [SoLuongDat], [GiaDat]) VALUES (N'SP02', N'PDH01', 1000, 100000.0000)
INSERT [dbo].[DongPhieuDat] ([MaSP], [MaPhieuDat], [SoLuongDat], [GiaDat]) VALUES (N'SP03', N'PDH03', 50, 750000.0000)
GO
INSERT [dbo].[DongPhieuNhap] ([MaPhieuNhap], [MaSP], [SoLuong], [GiaNhap]) VALUES (N'PN05309', N'SP01', 200, 150000.0000)
GO
INSERT [dbo].[HoaDon] ([MaHD], [NgayLap], [MaNV], [MaKH], [TichDiemHT], [TongTien]) VALUES (N'HD19793', CAST(N'2021-08-27T20:46:15.150' AS DateTime), N'NV01', N'KH01', NULL, 387000.0000)
INSERT [dbo].[HoaDon] ([MaHD], [NgayLap], [MaNV], [MaKH], [TichDiemHT], [TongTien]) VALUES (N'HD50169', CAST(N'2021-08-27T20:47:10.213' AS DateTime), N'NV01', N'KH70649', 841, 841500.0000)
GO
INSERT [dbo].[KhachHang] ([MaKH], [TenKH], [SDT], [TichDiem]) VALUES (N'KH01', N'Khách lẻ', N'', 0)
INSERT [dbo].[KhachHang] ([MaKH], [TenKH], [SDT], [TichDiem]) VALUES (N'KH66598', N'Nguyễn Văn Bình', N'02222222222', 0)
INSERT [dbo].[KhachHang] ([MaKH], [TenKH], [SDT], [TichDiem]) VALUES (N'KH70649', N'Nguyễn Viết Hoàng', N'01111111111', 841)
GO
INSERT [dbo].[KhuyenMai] ([MaKM], [GiamGia], [NgayBD], [NgayKT]) VALUES (N'KM45165', 10, CAST(N'2021-01-01T00:00:00.000' AS DateTime), CAST(N'2021-08-06T00:00:00.000' AS DateTime))
INSERT [dbo].[KhuyenMai] ([MaKM], [GiamGia], [NgayBD], [NgayKT]) VALUES (N'KM68785', 15, CAST(N'2021-01-01T00:00:00.000' AS DateTime), CAST(N'2021-08-06T00:00:00.000' AS DateTime))
GO
INSERT [dbo].[NhaCC] ([MaNCC], [TenNCC], [DienThoai], [DiaChi], [Fax], [SoTaiKhoan]) VALUES (N'NCC01', N'Công ty TNHH Xuân Hạ', N'01234568742', N'Thường Tín, Hà Nội', N'012345687424', N'123456214789')
INSERT [dbo].[NhaCC] ([MaNCC], [TenNCC], [DienThoai], [DiaChi], [Fax], [SoTaiKhoan]) VALUES (N'NCC02', N'Công ty TNHH Linh Chi', N'01234567815', N'Đống Đa, Hà Nội', N'013479798794', N'112345620147')
INSERT [dbo].[NhaCC] ([MaNCC], [TenNCC], [DienThoai], [DiaChi], [Fax], [SoTaiKhoan]) VALUES (N'NCC03', N'Công ty TNHH Thanh Xuân', N'03451247896', N'Thanh Xuân, Hà nội', N'015454987987', N'234567487887')
GO
INSERT [dbo].[NhanVien] ([MaNV], [TenNV], [Anh], [GioiTinh], [SDT], [MaCuaHang], [ChucVuNV]) VALUES (N'NV01', N'Trần Chiến Công', N'\images\tcc.png', 1, N'0384215155', N'CH01', N'Quản lý')
INSERT [dbo].[NhanVien] ([MaNV], [TenNV], [Anh], [GioiTinh], [SDT], [MaCuaHang], [ChucVuNV]) VALUES (N'NV02', N'Phạm Minh Tú', N'\images\tu.jpg', 0, N'0215464654', N'CH01', N'Nhân viên')
INSERT [dbo].[NhanVien] ([MaNV], [TenNV], [Anh], [GioiTinh], [SDT], [MaCuaHang], [ChucVuNV]) VALUES (N'NV03', N'Nguyễn Viết Hoàng', N'\images\hoang.jpg', 1, N'0983154424', N'CH01', N'Bảo vệ')
GO
INSERT [dbo].[PhieuDatHang] ([MaPhieuDat], [NgayDat], [MaNCC], [MaCuaHang], [MaNV]) VALUES (N'PDH01', CAST(N'2021-08-15T00:31:36.970' AS DateTime), N'NCC01', N'CH01', N'NV01')
INSERT [dbo].[PhieuDatHang] ([MaPhieuDat], [NgayDat], [MaNCC], [MaCuaHang], [MaNV]) VALUES (N'PDH02', CAST(N'2021-07-03T17:56:48.340' AS DateTime), N'NCC02', N'CH02', N'NV01')
INSERT [dbo].[PhieuDatHang] ([MaPhieuDat], [NgayDat], [MaNCC], [MaCuaHang], [MaNV]) VALUES (N'PDH03', CAST(N'2021-06-12T00:31:36.970' AS DateTime), N'NCC01', N'CH02', N'NV01')
GO
INSERT [dbo].[PhieuDoiTra] ([MaPhieuDT], [LyDoDT], [MaHD], [tongTien], [NgayLap], [MaNV]) VALUES (N'PDT27236', N'Không phù hợp với da', N'HD50169', 0.0000, CAST(N'2021-08-27T20:54:10.287' AS DateTime), N'NV01')
GO
INSERT [dbo].[PhieuNhap] ([MaPhieuNhap], [NgayNhap], [ThanhToan], [MaPhieuDat], [MaNV]) VALUES (N'PN05309', CAST(N'2021-08-27T20:52:01.333' AS DateTime), N'Đã Thanh Toán', N'PDH01', N'NV01')
GO
INSERT [dbo].[SanPham] ([MaSP], [TenSP], [SLTon], [DonGia], [XuatXu], [ThuongHieu], [MaDM], [DonViTinh], [DinhMucHetHang]) VALUES (N'SP01', N'Phấn nước Loria', 200, 350000.0000, N'Hàn Quốc', N'Loria', N'DM01', N'Hộp', 100)
INSERT [dbo].[SanPham] ([MaSP], [TenSP], [SLTon], [DonGia], [XuatXu], [ThuongHieu], [MaDM], [DonViTinh], [DinhMucHetHang]) VALUES (N'SP02', N'Phấn Mắt Karadium 4 ô Bling Fit Bijou Box Shadow', 85, 215000.0000, N'Hàn Quốc', N'Karadium', N'DM01', N'Hộp', 50)
INSERT [dbo].[SanPham] ([MaSP], [TenSP], [SLTon], [DonGia], [XuatXu], [ThuongHieu], [MaDM], [DonViTinh], [DinhMucHetHang]) VALUES (N'SP03', N'Kem Nền MAC Kiềm Dầu SPF15', 45, 990000.0000, N'Mỹ', N'MAC', N'DM01', N'Lọ', 50)
GO
INSERT [dbo].[SanPhamKM] ([MaKM], [MaSP], [GiaKM]) VALUES (N'KM45165', N'SP01', 315000.0000)
INSERT [dbo].[SanPhamKM] ([MaKM], [MaSP], [GiaKM]) VALUES (N'KM45165', N'SP02', 193500.0000)
INSERT [dbo].[SanPhamKM] ([MaKM], [MaSP], [GiaKM]) VALUES (N'KM68785', N'SP03', 841500.0000)
GO
INSERT [dbo].[TaiKhoan] ([TenTK], [MatKhau], [ChucVu], [MaNV]) VALUES (N'admin', N'7367CC4CEE061A476290D18978830414', 1, N'NV01')
INSERT [dbo].[TaiKhoan] ([TenTK], [MatKhau], [ChucVu], [MaNV]) VALUES (N'nhanvien', N'7367CC4CEE061A476290D18978830414', 0, N'NV02')
GO
INSERT [dbo].[ThongTinHD] ([MaHD], [MaSP], [SoLuongMua], [DonGiaHT]) VALUES (N'HD19793', N'SP02', 2, 193500.0000)
INSERT [dbo].[ThongTinHD] ([MaHD], [MaSP], [SoLuongMua], [DonGiaHT]) VALUES (N'HD50169', N'SP03', 1, 841500.0000)
GO
INSERT [dbo].[ThongTinSPDT] ([MaSP], [MaPhieuDT], [SoLuongDT], [PhanLoai], [DonGiaHT]) VALUES (N'SP02', N'PDT27236', 1, 1, 193500.0000)
INSERT [dbo].[ThongTinSPDT] ([MaSP], [MaPhieuDT], [SoLuongDT], [PhanLoai], [DonGiaHT]) VALUES (N'SP03', N'PDT27236', 1, 0, 841500.0000)
GO
ALTER TABLE [dbo].[DongPhieuDat]  WITH CHECK ADD FOREIGN KEY([MaPhieuDat])
REFERENCES [dbo].[PhieuDatHang] ([MaPhieuDat])
GO
ALTER TABLE [dbo].[DongPhieuDat]  WITH CHECK ADD FOREIGN KEY([MaPhieuDat])
REFERENCES [dbo].[PhieuDatHang] ([MaPhieuDat])
GO
ALTER TABLE [dbo].[DongPhieuDat]  WITH CHECK ADD FOREIGN KEY([MaSP])
REFERENCES [dbo].[SanPham] ([MaSP])
GO
ALTER TABLE [dbo].[DongPhieuDat]  WITH CHECK ADD FOREIGN KEY([MaSP])
REFERENCES [dbo].[SanPham] ([MaSP])
GO
ALTER TABLE [dbo].[DongPhieuNhap]  WITH CHECK ADD FOREIGN KEY([MaPhieuNhap])
REFERENCES [dbo].[PhieuNhap] ([MaPhieuNhap])
GO
ALTER TABLE [dbo].[DongPhieuNhap]  WITH CHECK ADD FOREIGN KEY([MaPhieuNhap])
REFERENCES [dbo].[PhieuNhap] ([MaPhieuNhap])
GO
ALTER TABLE [dbo].[DongPhieuNhap]  WITH CHECK ADD FOREIGN KEY([MaSP])
REFERENCES [dbo].[SanPham] ([MaSP])
GO
ALTER TABLE [dbo].[DongPhieuNhap]  WITH CHECK ADD FOREIGN KEY([MaSP])
REFERENCES [dbo].[SanPham] ([MaSP])
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD FOREIGN KEY([MaKH])
REFERENCES [dbo].[KhachHang] ([MaKH])
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD FOREIGN KEY([MaKH])
REFERENCES [dbo].[KhachHang] ([MaKH])
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD FOREIGN KEY([MaNV])
REFERENCES [dbo].[NhanVien] ([MaNV])
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD FOREIGN KEY([MaNV])
REFERENCES [dbo].[NhanVien] ([MaNV])
GO
ALTER TABLE [dbo].[NhanVien]  WITH CHECK ADD FOREIGN KEY([MaCuaHang])
REFERENCES [dbo].[CuaHang] ([MaCuaHang])
GO
ALTER TABLE [dbo].[NhanVien]  WITH CHECK ADD FOREIGN KEY([MaCuaHang])
REFERENCES [dbo].[CuaHang] ([MaCuaHang])
GO
ALTER TABLE [dbo].[PhieuDatHang]  WITH CHECK ADD FOREIGN KEY([MaCuaHang])
REFERENCES [dbo].[CuaHang] ([MaCuaHang])
GO
ALTER TABLE [dbo].[PhieuDatHang]  WITH CHECK ADD FOREIGN KEY([MaCuaHang])
REFERENCES [dbo].[CuaHang] ([MaCuaHang])
GO
ALTER TABLE [dbo].[PhieuDatHang]  WITH CHECK ADD FOREIGN KEY([MaNCC])
REFERENCES [dbo].[NhaCC] ([MaNCC])
GO
ALTER TABLE [dbo].[PhieuDatHang]  WITH CHECK ADD FOREIGN KEY([MaNCC])
REFERENCES [dbo].[NhaCC] ([MaNCC])
GO
ALTER TABLE [dbo].[PhieuDatHang]  WITH CHECK ADD FOREIGN KEY([MaNV])
REFERENCES [dbo].[NhanVien] ([MaNV])
GO
ALTER TABLE [dbo].[PhieuDatHang]  WITH CHECK ADD FOREIGN KEY([MaNV])
REFERENCES [dbo].[NhanVien] ([MaNV])
GO
ALTER TABLE [dbo].[PhieuDoiTra]  WITH CHECK ADD FOREIGN KEY([MaHD])
REFERENCES [dbo].[HoaDon] ([MaHD])
GO
ALTER TABLE [dbo].[PhieuDoiTra]  WITH CHECK ADD FOREIGN KEY([MaHD])
REFERENCES [dbo].[HoaDon] ([MaHD])
GO
ALTER TABLE [dbo].[PhieuDoiTra]  WITH CHECK ADD FOREIGN KEY([MaNV])
REFERENCES [dbo].[NhanVien] ([MaNV])
GO
ALTER TABLE [dbo].[PhieuDoiTra]  WITH CHECK ADD FOREIGN KEY([MaNV])
REFERENCES [dbo].[NhanVien] ([MaNV])
GO
ALTER TABLE [dbo].[PhieuNhap]  WITH CHECK ADD FOREIGN KEY([MaNV])
REFERENCES [dbo].[NhanVien] ([MaNV])
GO
ALTER TABLE [dbo].[PhieuNhap]  WITH CHECK ADD FOREIGN KEY([MaNV])
REFERENCES [dbo].[NhanVien] ([MaNV])
GO
ALTER TABLE [dbo].[PhieuNhap]  WITH CHECK ADD FOREIGN KEY([MaPhieuDat])
REFERENCES [dbo].[PhieuDatHang] ([MaPhieuDat])
GO
ALTER TABLE [dbo].[PhieuNhap]  WITH CHECK ADD FOREIGN KEY([MaPhieuDat])
REFERENCES [dbo].[PhieuDatHang] ([MaPhieuDat])
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD FOREIGN KEY([MaDM])
REFERENCES [dbo].[DanhMuc] ([MaDM])
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD FOREIGN KEY([MaDM])
REFERENCES [dbo].[DanhMuc] ([MaDM])
GO
ALTER TABLE [dbo].[SanPhamKM]  WITH CHECK ADD FOREIGN KEY([MaKM])
REFERENCES [dbo].[KhuyenMai] ([MaKM])
GO
ALTER TABLE [dbo].[SanPhamKM]  WITH CHECK ADD FOREIGN KEY([MaKM])
REFERENCES [dbo].[KhuyenMai] ([MaKM])
GO
ALTER TABLE [dbo].[SanPhamKM]  WITH CHECK ADD FOREIGN KEY([MaSP])
REFERENCES [dbo].[SanPham] ([MaSP])
GO
ALTER TABLE [dbo].[SanPhamKM]  WITH CHECK ADD FOREIGN KEY([MaSP])
REFERENCES [dbo].[SanPham] ([MaSP])
GO
ALTER TABLE [dbo].[TaiKhoan]  WITH CHECK ADD FOREIGN KEY([MaNV])
REFERENCES [dbo].[NhanVien] ([MaNV])
GO
ALTER TABLE [dbo].[TaiKhoan]  WITH CHECK ADD FOREIGN KEY([MaNV])
REFERENCES [dbo].[NhanVien] ([MaNV])
GO
ALTER TABLE [dbo].[ThongTinHD]  WITH CHECK ADD FOREIGN KEY([MaHD])
REFERENCES [dbo].[HoaDon] ([MaHD])
GO
ALTER TABLE [dbo].[ThongTinHD]  WITH CHECK ADD FOREIGN KEY([MaHD])
REFERENCES [dbo].[HoaDon] ([MaHD])
GO
ALTER TABLE [dbo].[ThongTinHD]  WITH CHECK ADD FOREIGN KEY([MaSP])
REFERENCES [dbo].[SanPham] ([MaSP])
GO
ALTER TABLE [dbo].[ThongTinHD]  WITH CHECK ADD FOREIGN KEY([MaSP])
REFERENCES [dbo].[SanPham] ([MaSP])
GO
ALTER TABLE [dbo].[ThongTinSPDT]  WITH CHECK ADD FOREIGN KEY([MaPhieuDT])
REFERENCES [dbo].[PhieuDoiTra] ([MaPhieuDT])
GO
ALTER TABLE [dbo].[ThongTinSPDT]  WITH CHECK ADD FOREIGN KEY([MaPhieuDT])
REFERENCES [dbo].[PhieuDoiTra] ([MaPhieuDT])
GO
ALTER TABLE [dbo].[ThongTinSPDT]  WITH CHECK ADD FOREIGN KEY([MaSP])
REFERENCES [dbo].[SanPham] ([MaSP])
GO
ALTER TABLE [dbo].[ThongTinSPDT]  WITH CHECK ADD FOREIGN KEY([MaSP])
REFERENCES [dbo].[SanPham] ([MaSP])
GO
USE [master]
GO
